.componentItem {
  user-select: none;
  width: 33.3%;
  height: 110px;
  display: inline-flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: move;

  &:hover {
    box-shadow: @boxShadow;
  }

  &_body {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_footer {
    padding: 6px 16px 14px;
    text-align: center;
  }
}
